<div id="kanban"></div>
<div id="modal-atividade-nova" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <form id="form-atividade-nova" class="mb-0">
              <div class="kanban-item card card-stats">
                  <div class="card-header bg-white">
                      <div class="form-group bmd-form-group m-0 p-0">
                          <input name="codigo" placeholder="Código" type="text" class="form-control border-0 h5" required />
                      </div>
                      <div class="form-group bmd-form-group m-0 p-0">
                          <textarea name="descricao" placeholder="Descrição" class="form-control border-0" rows="1" maxlength="200" required></textarea>
                      </div>
                      <div class="form-group bmd-form-group mt-2 p-0">
                          <select name="usuarioExecucaoId" id="usuario-execucao" required>
                            <option value="">Selecione...</option>
                              {% for usuario in usuarios %}
                                  <option value="{{ usuario.id }}" data-username="{{ usuario.username }}">{{ usuario.nome }}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <input id="atividade-estagio" type="hidden" name="estagioId" />
                  </div>
                  <div class="modal-footer border-0 p-1">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Fechar</button>
                      <input type="submit" class="btn btn-primary" alt="Salvar" value="Salvar" />
                  </div>
              </div>
          </form>
      </div>
    </div>
</div>