{% extends 'layouts/main.html' %}

{% block content %}
    {% for atividade in atividades %}
        {% if loop.index0 % qt_atividade_linha == 0 %}
            <div class="row">
        {% endif %}

            <div class="col-lg-{{ 12 // qt_atividade_linha }} col-md-6 col-sm-6">
              <div class="card card-stats" style="margin-top:10px;">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="ra ra-sword" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">{{ atividade.codigo|default(atividade.id, True) }}</p>
                  <h3 class="card-title">{{ atividade.descricao }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    {{ atividade.tipoAtividade.descricao|default('') }}
                  </div>
                </div>
              </div>
            </div>

        {% if loop.index0 % qt_atividade_linha == (qt_atividade_linha-1) or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}