{% extends 'layouts/main.html' %}

{% block searchbar %}{% endblock %}

{% block additional_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.js"></script>
<script type="module">
import Vue from '/static/js/core/vue.esm.browser.js';
Vue.use(VueRouter);

var kanbanContent;
const router = new VueRouter({
  routes: [{
    path: '/kanban',
    name: 'kanban',
    component: { template: `{% include "pages/quadros_vue.html" %}` }
  }]
});

new Vue({
    el: '#main-content',
    router,
    template: '',
    updated: function () {
      this.$nextTick(function () {
          if(this.$route.name === 'kanban' && !this.kanbanLoaded){
            import('/static/js/pages/kanban-load.js');
            this.kanbanLoaded = true;
          }
      })
    }
})

</script>
{% endblock %}