{% block searchbar %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body gr-card-perfil">
            <div class="gr-card-perfil-imagem">
              <img class="img" src="https://images.unsplash.com/photo-1502764088999-001291e403de" />
            </div>
            <div class="gr-card-perfil-conteudo">
              <h5 class="card-title">{{ usuario.cargo.titulo }}</h5>
              <h6 class="card-title">Nível {{ usuario.level }}</h6>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header card-header-primary">
          <h6 class="card-title">Atributos</h6>
        </div>
        <div class="card-body">
        <!-- TODO - colocar os progress bars dos níveis das habilidades -->
            {% for nh in nhs %}
                <div>Nível {{ nh.level }} - {{ nh.habilidade.descricao }}</div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}