{% extends 'layouts/main.html' %}

{% block searchbar %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#">
            <img class="img" src="/static/img/profile.png" />
          </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ usuario.username }}</h4>
            <h6 class="card-description">Usuário Nível {{ usuario.level }}</h6>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Editar Informações</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nome</label>
                  <input type="text" value="{{ usuario.nome }}" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Empresa</label>
                  <input type="text" value="Philips" class="form-control" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Username</label>
                  <input type="text" value="{{ usuario.username }}" class="form-control" disabled>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input type="email" value="{{ usuario.email }}" class="form-control">
                </div>
              </div>
            </div>
{#            <button type="submit" class="btn btn-primary pull-right">Atualizar</button>#}
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}