{% extends 'layouts/main.html' %}

{% block content %}
         <div id="kanban"></div>
{% endblock %}

{% block additional_js %}
<script>
$(document).ready(function() {

    $.ajax({
        url: '{{ url_for('api_atividades_get') }}'
    }).done(function(quadros){

        const buttonClick = function(btn, estagioId){
            const card_novo = '{% include 'layouts/card_atividade_nova.html' %}';
            $('#atividades-quadro-'+estagioId).prepend(card_novo);
            const btn_salvar = $(card_novo).find('#salvar_atividade_nova')[0];
            $(document).on('click', '#salvar_atividade_nova', function(event){
                console.log(event);
            });
        };

        const dragendBoard = function(board){
            $.post({
                url: '{{ url_for('api_trocar_ordem_estagio') }}',
                data: {
                    'estagio_id': board.dataset.id,
                    'ordem': board.dataset.order
                },
                dataType: 'json'
            }).fail(function(error) {
                console.log(error);
            });
        };

        const dropEl = function (el, target) {
            el.dataset.estagio = $(target).parent().data('id');

            $.post({
                url: '{{ url_for('api_trocar_estagio_atividade') }}',
                data: {
                    'atividade_id': el.dataset.eid,
                    'estagio_id': el.dataset.estagio
                },
                dataType: 'json'
            }).fail(function(error) {
                console.log(error);
            });
        };

        const Kanban = new jKanban({
                element : '#kanban',
                buttonClick: buttonClick,
                dropEl: dropEl,
                dragendBoard: dragendBoard,
                boards: quadros,
                addItemButton: true,
                buttonContent: '<i class="material-icons">more_vert</i>'
        });

    });

});
</script>
{% endblock %}