{% extends 'layouts/main.html' %}

{% block content %}
<div id="kanban"></div>
{% endblock %}

{% block additional_css %}
 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block additional_html %}
<div id="modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form id="form-atividade-nova" class="ajax" style="margin-bottom:0px;">
            <div class="kanban-item card card-stats">
                <div class="card-header">
                    <div class="form-group bmd-form-group" style="margin: 0px;padding: 0px;">
                        <input name="titulo" placeholder="Código" type="text" class="form-control" style="font-size:large;" required="required" />
                    </div>
                    <div class="form-group bmd-form-group" style="padding: 0px;margin: 0px;">
                        <textarea name="descricao" placeholder="Descrição" class="form-control" rows="1" maxlength="200" required="required"></textarea>
                    </div>
                    <div class="form-group bmd-form-group" style="margin: 0px;padding: 0px;">
                        <input id="usuario-atividade-nova" placeholder="Usuário Execução" type="text" class="form-control" required="required" />
                        <input id="usuario-execucao" type="hidden" name="usuarioExecucaoId" />
                    </div>
                    <input id="atividade-estagio" type="hidden" name="estagioId" />
                </div>
                <div class="modal-footer" style="padding: 10px;border-top: 0px;">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Fechar</button>
                    <button type="submit" id="salvar_atividade_nova" class="btn btn-primary btn-sm ajax">Salvar</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block additional_js %}
<script src="/static/js/plugins/jkanban.js"></script>
<script>
$(document).ready(function() {

    $.ajax({
        url: '{{ url_for('api_atividades_get') }}'
    }).done(function(quadros){

        let usuarios = [];

        const buttonClick = function(btn, estagioId){

            $('#atividade-estagio').val(estagioId);
            $('#modal').modal('show');

            if(!usuarios.length) {
                $.ajax({
                    url: '{{ url_for('api_get_usuarios_empresa') }}'
                }).done(function (usuarios_json) {
                    usuarios = usuarios_json;

                    $('#usuario-atividade-nova').autocomplete({
                        delay: 0,
                        source: function(request, response) {
                            response($.ui.autocomplete.filter(usuarios, request.term).slice(0, 5));
                        },
                        select: function(event, usuario){
                            $('#usuario-execucao').val(usuario.item.id);
                        }
                    });
                });

            }

        };

        const dragendBoard = function(board){
            $.post({
                url: '{{ url_for('api_trocar_ordem_estagio') }}',
                data: {
                    'estagio_id': board.dataset.id,
                    'ordem': board.dataset.order
                },
                dataType: 'json'
            }).fail(function(error) {
                console.log(error);
            });
        };

        const dropEl = function (el, target) {
            el.dataset.estagio = $(target).parent().data('id');

            $.post({
                url: '{{ url_for('api_trocar_estagio_atividade') }}',
                data: {
                    'atividade_id': el.dataset.eid,
                    'estagio_id': el.dataset.estagio
                },
                dataType: 'json'
            }).fail(function(error) {
                console.log(error);
            });
        };

        new jKanban({
            element : '#kanban',
            buttonClick: buttonClick,
            dropEl: dropEl,
            dragendBoard: dragendBoard,
            boards: quadros,
            addItemButton: true,
            breakLine: false,
            borderWidth: 330,
            dragBoards: false
        });

    });

    $('#salvar_atividade_nova').click(function(){
        $('#modal').modal('hide');
        const atividade_nova = $getFormData($('#form-atividade-nova'));
        //TODO - Adicionar visualmente o card ao estágio (coluna)

        $.post({
            url: '{{ url_for('api_atividade_nova') }}',
            data: atividade_nova
        }).done(function(response) {
            console.log(response);
        }).fail(function(error) {
            console.log(error);
        });

    });

});
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}