<!doctype html>
<html lang="pt">
{% include 'layouts/head.html' %}
<body class="dark-edition">
  <div class="wrapper">
      <div class="gr-login-background"></div>
      <div class="content gr-vertical-center">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                  <form method="POST">
                    {{ form.csrf_token }}
                      <div class="card">
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                            {% if errors %}
                                <div class="card-header">
                                    <div class="alert alert-danger" role="alert">
                                      {{ errors[0] }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="card-body">
                          <span class="bmd-form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">face</i>
                                </span>
                              </div>
                              {{ form.username(size=20, class_='form-control', placeholder="Usuário") }}
                            </div>
                          </span>
                          <span class="bmd-form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">lock_outline</i>
                                </span>
                              </div>
                              {{ form.password(size=20, class_="form-control", placeholder="Senha") }}
                            </div>
                          </span>
                        </div>
                        {{ form.next(value=get_flashed_messages(category_filter=["next"])[0]) }}
                        <div class="card-footer justify-content-center">
                            <button type="submit" class="btn btn-primary pull-right">Login</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
  {% include 'layouts/scripts_js.html' %}
</body>
</html>