<!doctype html>
<html lang="pt">
{% include 'layouts/head.html' %}
<body>
  <div class="wrapper">
    {% include 'layouts/sidebar.html' %}
    <div class="main-panel">
      {% include 'layouts/navbar.html' %}
      <div class="content">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% block additional_html %}{% endblock %}
  {% include 'layouts/scripts_js.html' %}
  {% block additional_js %}{% endblock %}
</body>
</html>