<script src="/static/js/core/jquery.min.js"></script>
<script src="/static/js/core/popper.min.js"></script>
<script src="/static/js/core/bootstrap-material-design.min.js"></script>

<script src="/static/js/plugins/passive-events.js"></script>
<script src="/static/js/plugins/buttons.js"></script>
<script src="/static/js/plugins/bootstrap-notify.js"></script>

<script src="/static/js/material-dashboard.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/js/plugins/jkanban.js"></script>
<script src="/static/js/guerreiro.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.js"></script>
<script type="module" src="/static/js/vue-module.js"></script>