<nav class="main-menu">
    <ul>
        <li>
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-text mx-3">GUERREIRO</div>
            </div>
        </li>
        <li class="item-menu" id="menu-pagina-inicial">
            <a  href="#/">
                <i class="fa fa-fort-awesome" aria-hidden="true"></i>
                <span class="nav-text">Página Inicial</span>
            </a>
        </li>
        <li class="item-menu" id="menu-kanban">
            <a href="#/kanban">
                <i class="ra ra-scroll-unfurled" aria-hidden="true"></i>
                <span class="nav-text">Kanban</span>
            </a>
        </li>
    </ul>
</nav>